.keypad {
    display: flex;
    flex-direction: column;
}

.keypad .row {
    --gap: 4px; 

    display: flex;
    width: 300px; 
    gap: var(--gap); 
    margin-bottom: 4px;
}

.keypad .row div {
    --number-of-items: 4;
    --number-of-gaps: 3; 
    --ratio: 1; 

    background: peachpuff;
    height: 40px;
    width: calc( (100% - var(--gap) * var(--number-of-gaps)) / var(--number-of-items) * var(--ratio)); 
    text-align: center;
}

.keypad .row .size3 {
    --number-of-gaps: 0;
    --ratio: 3;
}