.keypad {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    display: flex;
    flex-direction: column;
    width: 400px; 
    height: 360px; 
    align-items: center;
    justify-content: center;
    background: skyblue;
}

.keypad .row {
    --gap: 4px; 

    display: flex;
    width: calc(100% - 20px); 
    height: calc( (100% - 40px) / 6); 
    gap: var(--gap); 
    margin-bottom: 4px;
}

.keypad .row .display {
    background: peachpuff;
    border: 2px black solid; 
    height: 100%; 
    width: 100%; 
    text-align: right;
    font-size: 24px;
}

.keypad .row button {
    --number-of-items: 4;
    --ratio: 1; 

    background: peachpuff;
    height: 100%;
    width: calc( (100% - var(--gap) * (var(--number-of-items) - 1)) / var(--number-of-items) * var(--ratio) + var(--gap) * (var(--ratio) - 1)); 
    text-align: center;
}

.keypad .row .size3 {
    --ratio: 3;
}


.keypad .row .size2 {
    --ratio: 2;
}