.keypad {
    display: flex;
    flex-direction: column;
}

.keypad .row {
    --gap: 4px; 

    display: flex;
    width: 300px; 
    gap: var(--gap); 
    margin-bottom: 4px;
}

.keypad .row button {
    --number-of-items: 4;
    --ratio: 1; 

    background: peachpuff;
    height: 40px;
    width: calc( (100% - var(--gap) * (var(--number-of-items) - 1)) / var(--number-of-items) * var(--ratio) + var(--gap) * (var(--ratio) - 1)); 
    text-align: center;
}

.keypad .row .size3 {
    --ratio: 3;
}


.keypad .row .size2 {
    --ratio: 2;
}